<div class="intro">
<div class="col1">
  <br><br>
  <p class="para1">Software Developer</p>
    <br><br><br>
  <p class="para2">AMAZON</p>

</div>
<div class="col2">
      <img src="assets/My_image.jpg" >

</div>
<div class="col3">
<div class="note">
  Let's Connect
  <br><br>
 <p class="para3">Drop a mail</p>
 <a href="https://mail.google.com/mail/?view=cm&fs=1&to=arnabimitra100@gmail.com&su=SUBJECT&body=BODY" target="_blank"><i class="fa fa-envelope" style="padding-left: 2vw; font-size: 30px;color:rgba(235, 230, 225, 0.925);"></i></a>
</div>
</div>
</div>

