container-fluid
{
  margin: 1vw 1vw 1vw 1vw;

}

.intro
{
  display: flex;
  justify-content: center;
  font-size: 4vw;
  color: rgba(39, 37, 37, 0.301);

}

.footer
{
  display: flex;
  justify-content: center;
  font-size: 2vw;
  color: rgb(105, 103, 103);
  margin-left: 0vh;
}

.body
{
  display:block;
  justify-content: center;
/* //background-color: aqua; */

  font-size: 7vw;
  color: rgb(20, 19, 19);
  margin: 2vw 2vw 10vw 2vw;
  padding: 1vw 1vw 1vw 1vw;
}


